.header{
    width:100%;
    position:fixed;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.headerBanner{    
    width: 100%;
    height:100px;
    background-color: grey;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.title{
    width:50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.emptySpace{
    width: 25%;
}

.cocktailMenu{
    height: 30px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

 .menuItem{
    width:100%;
    border:1px solid black;
    background-color: darksalmon;
    color:rgb(131, 41, 12);
    text-decoration: none;
}

.menuItem:disabled{
    background-color: springgreen;
}

.searchBar{
    width: 25%;
    height:50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.searchBarInput{
    width: 100%;
    background-color: darksalmon;
    border-radius: 10px;
    border-width: 0px;

}
.searchBarSubmit{
    margin-left:5px;
    background-color: darksalmon;
    border-radius: 10px;
    border-width: 1px;
    
}