.header{
    height: 200px;
    width: 100%;
    position: fixed;
    
}

.headerBanner{    
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;

}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cocktailMenu{
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

.cocktailMenu span{
    width:100%;
    border:1px solid black;
    padding: 10px;
    background-color: darksalmon;
    color:rgb(131, 41, 12)
}